@model StarsFighters.Controllers.Models.LoggedInViewModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Our Data base has:</p>
<ul>
    <li>Minerals: @Model.Minerals</li>
    <li>Metal: @Model.Metal</li>
    <li>Gas: @Model.Gas</li>
    <li>Gold: @Model.StarsCredits</li>
</ul>
